body {
    background-color: hsl(220deg 9% 14%);
    color: #fff;
}

th,
td {
    border: 1px solid grey;
}

.header {
    color: hsl(220deg 9% 14%);
    background-color: hsl(220deg 9% 14%);
    border-bottom: 1px rgb(78, 76, 76) solid;
}

.header__logo {
    color: #fff;
}

.header__inner {
    color: #fff;
}

.nav__link {
    color: #fff;
}

.nav__link:hover {
    color: rgb(199, 177, 51);
}

.nav__already {
    color: rgb(129 187 255);
}

.nav__already:after {
    background-color: rgb(129 187 255);
}

.nav__logo {
    color: rgb(129 187 255);
}

.info {
    color: rgb(221, 212, 212);
    background-color: hsl(220deg 9% 19%);
    border: 2px white solid;
}

.info__main b {
    color: rgb(129 187 255);
}

.social img {
    border: 2px rgb(221, 212, 212) dashed;
}

.attendance {
    border: 2px white solid;
    background-color: hsl(220deg 9% 19%);
    color: #fff;
}

.attendance thead {
    color: rgb(61, 59, 59);
}

.attendance__table {
    background-color: #cac7c7;
    color: rgb(61, 59, 59);
}

.evalutions {
    background-color: hsl(220deg 9% 19%);
    color: #fff;
    border: 2px white solid;
}

.evalutions thead {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions tbody {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions_green {
    background-color: #c4efaa;
}

.evalutions_red {
    background-color: #fe9d94;
}

#btn1{
    color: rgb(129 187 255);
}

#btn2{
    color: #fff;
}

.about {
    background-color: hsl(220deg 9% 19%);
    border: 1px white solid;
}

.about__buttons {
    background-color: rgb(112, 99, 133);
    border: 3px solid #fff;
    color: #fff;
}

.about__buttons:hover {
    color: rgb(70, 70, 70);
    background-color: rgb(129 187 255);
}

.other {
    color: white;
}

.topbutton {
    border: 2px solid #ccc;
    background-color: rgb(112, 99, 133);
    color: #fff;
}

.bottombutton {
    border: 2px solid #ccc;
    background-color: rgb(112, 99, 133);
    color: #fff;
}

.topbutton:hover,
.bottombutton:hover {
    background-color: #aeafaa;
}

.friends {
    background-color: hsl(220deg 9% 19%);
    border: 2px white solid;
    color: #fff;
}

.friends__person {
    background-color: rgb(112, 99, 133);
    border: 10px solid white;
}

.friends__person a {
    color: #fff;
}

.friends__person:hover {
    background-color: rgb(129 187 255);
}


.anime {
    color: #fff;
}

#hobbies__buttons {
    background-color: hsl(220deg 9% 19%);
    border: 2px white solid;
}

.hobbies__button {
    background-color: rgb(112, 99, 133);
    border: 3px solid #fff;
    color: #fff;
}

.hobbies__button:hover {
    color: rgb(70, 70, 70);
    background-color: rgb(129 187 255);
}