body {
    background-color: rgb(223, 223, 223);
    color: hsl(220deg 9% 14%);
}

th,
td {
    border: 1px solid grey;
}

.header {
    color: hsl(220deg 9% 14%);
    border-bottom: 1px rgb(78, 76, 76) solid;
    background-color: rgb(223, 223, 223);
}

.header__logo {
    color: hsl(220deg 9% 14%);
}

.header__inner {
    color: hsl(220deg 9% 14%);
    ;
}

.nav__link {
    color: hsl(220deg 9% 14%);
    ;
}

.nav__link:hover {
    color: rgb(199, 177, 51);
}

.nav__already {
    color: rgb(202, 12, 12);
}

.nav__already:after {
    background-color: rgb(202, 12, 12);
}

.nav__logo {
    color: rgb(202, 12, 12);
}

.info {
    color: hsl(220deg 9% 14%);
    background-color: rgb(223, 223, 223);
    border: 2px hsl(220deg 9% 14%) solid;
}

.info__main b {
    color: rgb(202, 12, 12);
}

.info__logo img {
    border-color: rgb(202, 12, 12);
}

.social img {
    border: 2px rgb(202, 12, 12) dashed;
}

.attendance {
    border: 2px hsl(220deg 9% 14%) solid;
    background-color: rgb(223, 223, 223);
    color: hsl(220deg 9% 14%);
    box-shadow: 0px 0px 10px;
}

.attendance thead {
    color: rgb(61, 59, 59);
}

.attendance__table {
    background-color: #cac7c7;
    color: rgb(61, 59, 59);
}

.evalutions {
    background-color: rgb(223, 223, 223);
    color: hsl(220deg 9% 14%);
    ;
    border: 2px hsl(220deg 9% 14%) solid;
}

.evalutions thead {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions tbody {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions_green {
    background-color: #c4efaa;
}

.evalutions_red {
    background-color: #fe9d94;
}

#btn1 {
    color: rgb(202, 12, 12);
}

#btn2 {
    color: hsl(220deg 9% 14%);
}

.about {
    background-color: rgb(223, 223, 223);
    border: 1px hsl(220deg 9% 14%) solid;
}

.about__buttons {
    background-color: hsl(220deg 9% 14%);
    border: 3px solid rgb(223, 223, 223);
    color: rgb(223, 223, 223);
}

.about__buttons:hover {
    background-color: rgb(202, 12, 12);
}

.other {
    color: hsl(220deg 9% 14%);
}

.topbutton {
    border: 2px solid rgb(223, 223, 223);
    background-color: hsl(220deg 9% 14%);
    color: rgb(223, 223, 223);
}

.bottombutton {
    border: 2px solid rgb(223, 223, 223);
    background-color: hsl(220deg 9% 14%);
    color: rgb(223, 223, 223);
}

.topbutton:hover,
.bottombutton:hover {
    background-color: rgb(202, 12, 12);
}

.friends {
    background-color: rgb(223, 223, 223);
    border: 2px hsl(220deg 9% 14%) solid;
    color: hsl(220deg 9% 14%);
    ;
}

.friends__person {
    background-color: rgb(223, 223, 223);
    border: 6px solid hsl(220deg 9% 14%);
}

.friends__person a {
    color: hsl(220deg 9% 14%);
    ;
}

.friends__person:hover {
    background-color: rgb(202, 12, 12);
}


.anime {
    color: hsl(220deg 9% 14%);
}

#hobbies__buttons {
    background-color: rgb(223, 223, 223);
    border: 2px hsl(220deg 9% 14%) solid;
}

.hobbies__button {
    background-color: hsl(220deg 9% 14%);
    border: 3px solid hsl(220deg 9% 14%);
    color: rgb(223, 223, 223);
}

.hobbies__button:hover {
    background-color: rgb(202, 12, 12);
}