body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    background: url("../assets/background.jpg") center no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.intro {
    width: 100%;
    height: 40vh;
}

.header {
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    display: flex;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.header__inner {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:hover {
    color: rgb(199, 177, 51);
}

.nav__already {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 15px;
    color: rgb(116, 192, 53);
    cursor: default;
    animation: AnimationY 1.5s alternate infinite;
}

.nav__already:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(116, 192, 53);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.info {
    margin-top: 4%;
    width: 100%;
    color: rgb(221, 212, 212);
    text-align: center;
}

.info__logo {
    margin: 0;
    left: 10%;
    bottom: -40px;
}

.info__main p {
    font-size: 17px;
}

.info__main b {
    display: inline-block;
    text-decoration: none;
    color: rgb(116, 192, 53);
}

.social img {
    border-radius: 100px;
    border: 2px rgb(221, 212, 212) solid;
    width: 40px;
    margin: 0 10px;
}

.social img:hover{
    border: 3px rgb(221, 212, 212) solid;
    width: 50px;
    height: 50px;
}

.attendance {
    font-size: 17px;
    margin-top: 3%;
    color: #fff;
    text-align: center;
}

.attendance thead {
    color: rgb(61, 59, 59);
}

.attendance__table {
    background-color: #cac7c7;
    color: rgb(61, 59, 59);
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.nav2 {
    display: inline-block;
    position: relative;
}

.down-menu {
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
}

.buttons {
    padding: 3%;
    text-align: center;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
}

.evalutions {
    padding: 2%;
    color: #fff;
    text-align: center;
}

.evalutions__table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.evalutions thead {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions tbody {
    color: rgb(61, 59, 59);
    background-color: #cac7c7;
}

.evalutions_green {
    background-color: #c4efaa;
}

.evalutions_red {
    background-color: #fe9d94;
}

.about {
    margin-top: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.about__buttons {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: rgb(112, 99, 133);
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 30px;
    margin: 10px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.about__buttons:hover{
    color: rgb(70, 70, 70);
    background-color: #c4efaa;
}

.other {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
}

.other__center {
    display: inline-block;
}

.other__center ly,
ul {
    text-align: left;
}

.topbutton {
    width: auto;
    max-width: 200px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    background-color: rgb(112, 99, 133);
    color: #fff;
    font-family: verdana;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.bottombutton {
    visibility: visible;
    width: auto;
    max-width: 200px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    color: #fff;
    background-color: rgb(112, 99, 133);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    font-family: verdana;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.topbutton:hover,
.bottombutton:hover {
    background-color: #aeafaa;
}

.friend {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.friend__person {
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(112, 99, 133);
    height: auto;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 10px solid white;
    border-radius: 80px;
    font-size: 20px;
}

.friend__person img {
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 400px;
}

.friend__person a {
    color: #fff;
    text-decoration: none;
}

.friend__person:hover {
    transition: 0.5s;
    background-color: rgb(116, 192, 53);
    cursor: pointer;
    animation: AnimationX 0.8s alternate infinite;
}

.anime {
    margin: 0 auto;
    width: auto;
    max-width: 1200px;
    height: 300px;
    color: #fff;
    font-size: 20px;
}

#hobbies_anime img {
    height: 400px;
    width: 300px;
}

#hobbies_manga img {
    display: inline-block;
    height: 400px;
    width: 300px;
}

#hobbies_games img {
    height: 400px;
    width: 300px;
}

.hobbies {
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
}

.hobbies__button {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: rgb(112, 99, 133);
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 30px;
    margin: 15px auto;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.hobbies__button:hover {
    cursor: pointer;
    color: rgb(70, 70, 70);
    background-color: #c4efaa;
}

@media screen and (min-width:200px) and (max-width:700px) {
    body {
        font-size: 10px;
    }

    .header__logo {
        font-size: 30px;
    }

    .nav__link,
    .nav__already,
    .evalutions div {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .bottombutton {
        visibility: hidden;
    }

    .topbutton {
        visibility: hidden;
    }

    .header__inner {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .nav__link {
        padding-top: 10px;
    }

    .nav__already {
        padding-top: 10px;
    }

    .evalutions__table {
        font-size: 10px;
    }

    .friend__person {
        width: 300px;
        font-size: 15px;
    }

    .friend__person img {
        width: 60px;
        height: 60px;
    }

    .attendance__table {
        width: 300px;
        font-size: 13px;
    }
}

@keyframes AnimationY {
    from {
        transform: translateY(-2px);
    }

    to {
        transform: translateY(2px);
    }
}

@keyframes AnimationX {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(20px);
    }
}