
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}

#home {
    width: 100%;
    position: relative;
    background: url("../assets/background-code.png") no-repeat center;
    background-size: cover;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.main {
    display: block;
}

.section {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

img {
    width: 800px;
}

.nav a {
    padding: 0.5rem 1rem;
}

.btn {
    display: inline-block;
    border: 3px solid #192bc2;
    color: #192bc2;
    border-radius: 0px;
    min-width: 180px;
    height: auto;
    transition: all .4s;
    font-size: 1.2em;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #192bc2;
    color: #ffffff;
    border-color: #192bc2;
}

.text-dark-blue {
    color: #192bc2;
}

.section-title {
    padding-top: 1.8em;
    font-size: 2.8em;
    font-weight: 700;
}

.project-title {
    font-size: 2.4em;
    color: #000000;
}

#skills {
    background-color: #000122;
}

.skill-card {
    padding: 20px 30px;
    width: 100%;
    height: auto;
    box-shadow: 8px 15px 25px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}


.copyright-text {
    position: absolute;
    bottom: 10px;
    width: auto;
    left: 30px;
}

.navbar-brand {
    font-family: 'Bad Script', cursive;
    font-size: 2em;
    font-weight: bold;
}

.title {
    color: #ffffff;
    font-size: 3.2em;
    font-weight: 700;
}

.subtitle {
    color: #53dd6c;
    font-size: 1.8em;
}

.text-light-green {
    color: #53dd6c;
}

p, li {
    font-size: 1.3em;
}

.row {
    margin: auto;
}

#contact {
    background-color: #192bc2;
}

.btn-contact {
    margin: 30px auto;
    width: 320px;
    height: auto;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, .1);
    font-weight: 400;
}

@media screen and (min-width:200px) and (max-width:800px) {
    body {
        font-size: 10px;
    }
    
    .title {
        margin-bottom: 20px;
    }

    .skill-card {
        margin: 0px !important;
        width: auto;
    }
}